/* 这里存放css样式表 */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #d400ff, #2f00ff);
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 1rem;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #0099ff, #00ffc3);
    /* 这里设置body的背景为线性渐变 */
    background-repeat: no-repeat;
    /* 这里设置背景图片不重复 */
}

.container .cardContainer {
    /* 这里设置cardContainer的样式 */
    flex: 30rem;
    position: sticky;
    /* 固定定位 */
    align-self: flex-start;
    top: 0.6rem;
    left: 0.66rem;
    right: 0.66rem;
    width: auto;
    /* 这里设置cardContainer的宽度为30rem */
    height: auto;
    /* 这里设置cardContainer的高度为30rem */
    /* background:linear-gradient(to bottom, #ffb5e9, #ffffff); */
    background: linear-gradient(45deg, #ffb5e9, #ffffff);
    /* 这里设置cardContainer的背景为线性渐变 */
    border: 0.09rem solid rgb(255, 0, 0);
    /* 这里设置cardContainer的边框为0.09rem的实线，颜色为红色 */
    font-family: "Consolas";
    /* 这里设置cardContainer的字体为Consolas */
    padding: 2rem;
    /* 这里设置cardContainer的内边距为2rem */
    text-align: center;
    /* 这里设置cardContainer的文本对齐方式为居中 */
    color: rgb(0, 136, 255);
    /* 这里设置cardContainer的文本颜色为蓝色 */
    font-size: 2rem;
    /* 这里设置cardContainer的字体大小为2rem */
    margin: 0.6rem;
    /* 这里设置cardContainer的外边距为0.6rem */
    text-shadow: 0rem 0rem 0.2rem rgb(255, 0, 0);
    /* 文本阴影 */
    box-shadow: 0rem 0rem 0.49rem rgb(0, 30, 255);
    /* 盒子阴影 */
    border-radius: 0.4rem;
    /* 圆角 */
    box-sizing: border-box;
    /* 盒子宽度包含边框和内边距 */
    transition: all 0.5s ease;
}

.container .cardContainer:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 1.99rem rgb(255, 255, 255);
}

.container .cardContainer .myPicture {
    /* 这里设置cardContainer中的myPicture的样式 */
    background-color: white;
    /* 这里设置cardContainer中的myPicture的背景色为白色 */
    margin: 0 auto;
    /* 这里设置cardContainer中的myPicture的水平居中 */
    width: 9rem;
    /* 这里设置cardContainer中的myPicture的宽度为9rem */
    height: 9rem;
    /* 这里设置cardContainer中的myPicture的高度为9rem */
    border-radius: 50%;
    /* 这里设置cardContainer中的myPicture的圆角半径为50% */
    border: 0.09rem solid rgb(43, 0, 255);
    /* 这里设置cardContainer中的myPicture的边框为0.09rem的实线，颜色为紫色 */
    box-shadow: 0rem 0rem 0.49rem rgb(255, 0, 0);
    /* 这里设置cardContainer中的myPicture的盒子阴影 */
    background-image: url("./source/Error Chtholly.jpg");
    /* 这里设置cardContainer中的myPicture的背景图片为Error Chtholly.jpg */
    background-repeat: no-repeat;
    /*设置背景图片不重复*/
    background-size: cover;
    /*设置背景图片大小为覆盖整个元素*/
    background-position: center center;
    /*设置背景图片居中*/
    transition: all 0.5s ease;
    /* 过渡效果 */
    cursor: pointer;
    text-align: center;
}

.container .cardContainer .myPicture .hidden-text {
    opacity: 0;
    transition: all 0.5s ease;
    margin: 0 auto;
    margin: 0 auto;
    text-shadow: 0rem 0rem 0.66rem rgb(234, 0, 255);
    color: white;
    font-family: "Consolas";
    font-style: italic;
    font-size: 2rem;
}

.container .cardContainer .myPicture:hover .hidden-text {
    opacity: 1;
}

.container .cardContainer .myPicture:hover {
    box-shadow: 0rem 0rem 1.9rem rgb(255, 0, 0);
}

.container .cardContainer .ico {
    /* 这里设置cardContainer中的ico的样式 */
    display: inline-block;
    /* 内联块级盒子 */
    text-align: center;
    /* 文本居中 */
    background-color: white;
    /* 背景色为白色 */
    margin: 0 auto;
    /* 居中 */
    margin: 0.4rem;
    /* 外边距为0.4rem */
    width: 2.4rem;
    /* 宽度为2.4rem */
    height: 2.4rem;
    /* 高度为2.4rem */
    border-radius: 50%;
    /* 圆角半径为50% */
    border: 0.09rem solid rgb(43, 0, 255);
    /* 边框为0.09rem的实线，颜色为紫色 */
    box-shadow: 0rem 0rem 0.49rem rgb(255, 0, 0);
    /* 盒子阴影 */
    padding: 0.6rem 0.52rem 0.4rem 0.52rem;
    /* 内边距为0.6rem 0.52rem 0.4rem 0.52rem */
    cursor: pointer;
    /* 鼠标指针 */
    transition: all 0.5s ease;
    /* 过渡效果 */
    margin-top: 0.6rem;
    /* 外边距为0.6rem */
}

.container .cardContainer .ico:hover {
    /* 这里设置cardContainer中的ico的鼠标悬停样式 */
    background-color: rgba(255, 0, 247, 0.5);
    /* 背景色为rgba(255, 0, 247, 0.5) */
    color: white;
    /* 文本颜色为白色 */
    text-shadow: 0rem 0rem 0.2rem rgb(255, 255, 255);
    /* 文本阴影 */
    box-shadow: 0rem 0rem 0.49rem rgb(255, 0, 255);
    /* 盒子阴影 */
    border: 0.09rem solid rgb(76, 0, 255, 0.6);
    /* 边框为0.09rem的实线，颜色为rgba(76, 0, 255, 0.6) */
}

.container .cardContainer h1 {
    /* 这里设置cardContainer中的h1的样式 */
    font-size: 2rem;
    /* 这里设置cardContainer中的h1的字体大小为2rem */
    transition: all 0.5s ease;
    /* 过渡效果 */
}

.container .cardContainer h1:hover {
    color: #ffffff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .cardContainer h2 {
    /* 这里设置cardContainer中的h2的样式 */
    font-size: 1.4rem;
    /* 这里设置cardContainer中的h2的字体大小为1.4rem */
    transition: all 0.5s ease;
    /* 过渡效果 */
}

.container .cardContainer h2:hover {
    color: #ffffff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .cardContainer .defineButton {
    /* 这里设置cardContainer中的defineButton的样式 */
    margin: 0 auto;
    background-color: rgba(238, 0, 255, 0.5);
    /* 背景色为rgba(238, 0, 255, 0.5) */
    color: white;
    /* 文本颜色为白色 */
    border-radius: 0.33rem;
    /* 圆角半径为0.33rem */
    padding: 0.4rem;
    /* 内边距为0.4rem */
    font-size: 1.4rem;
    /* 字体大小为1.4rem */
    font-family: "Consolas";
    /* 字体为Consolas */
    text-shadow: 0rem 0rem 0.33rem rgb(0, 21, 255);
    /* 文本阴影 */
    margin-top: 2rem;
    /* 外边距为2rem */
    cursor: pointer;
    /* 鼠标指针 */
    border: 0.09rem solid rgb(25, 0, 255, 0.5);
    /* 边框为0.09rem的实线，颜色为rgba(25, 0, 255, 0.5) */
    box-shadow: 0rem 0rem 0.49rem rgb(225, 0, 255);
    /* 盒子阴影 */
    transition: all 0.5s ease;
    /* 过渡效果 */
    margin-top: 1.9rem;
    /* 外边距为1.9rem */
}

.container .cardContainer .defineButton:hover {
    /* 这里设置cardContainer中的defineButton的鼠标悬停样式 */
    background-color: rgba(255, 255, 255, 0.5);
    /* 背景色为rgba(255, 0.5) */
    color: #d400ff;
    /* 文本颜色为#d400ff */
    border: 0.09rem solid rgba(255, 0, 208, 0.8);
    /* 边框为0.09rem的实线，颜色为rgba(255, 0, 208, 0.8) */
    box-shadow: 0rem 0rem 0.49rem rgb(255, 0, 255);
    /* 盒子阴影 */
    text-shadow: 0rem 0rem 0.33rem rgb(255, 0, 255);
    /* 文本阴影 */
}

.container .informationContainer {
    /* 这里设置cardContainer的样式 */
    flex: 73.88rem;
    margin-top: 0.589rem;
    margin-left: 0;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    width: auto;
    /* 这里设置cardContainer的宽度为30rem */
    height: auto;
    /* 这里设置cardContainer的高度为30rem */
    /* background:linear-gradient(to bottom, #ffb5e9, #ffffff); */
    background: linear-gradient(45deg, #ffb5e9, #ffffff);
    /* 这里设置cardContainer的背景为线性渐变 */
    border: 0.09rem solid rgb(255, 0, 0);
    /* 这里设置cardContainer的边框为0.09rem的实线，颜色为红色 */
    padding: 1rem;
    /* 这里设置cardContainer的内边距为2rem */
    box-shadow: 0rem 0rem 0.49rem rgb(0, 30, 255);
    /* 盒子阴影 */
    border-radius: 0.4rem;
    /* 圆角 */
    box-sizing: border-box;
    /* 盒子宽度包含边框和内边距 */
    transition: all 0.5s ease;
}

.container .informationContainer:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 1.99rem rgb(255, 255, 255);
}

.container .informationContainer h1 {
    /* 这里设置informationContainer中的h1的样式 */
    font-size: 2.1rem;
    /* 这里设置informationContainer中的h1的字体大小为2rem */
    font-weight: bolder;
    margin-top: 0;
    font-family: "幼圆";
    font-style: italic;
    color: rgb(0, 136, 255);
    text-shadow: 0rem 0rem 0.2rem rgb(255, 0, 0);
    /* 文本阴影 */
    transition: all 0.5s ease;
}

.container .informationContainer h1:hover {
    /* 这里设置informationContainer中的h1的样式 */
    color: #ffffff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer p {
    font-family: "幼圆";
    color: #d400ff;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bolder;
    transition: all 0.5s ease;
}

.container .informationContainer p:hover {
    /* 这里设置informationContainer中的h1的样式 */
    color: #3c00ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .infop {
    font-family: "幼圆";
    color: #6e6e6e;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bolder;
}

.container .informationContainer .infop:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer {
    display: flex;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* 这里设置boxContainer的子元素换行 */
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .innerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 10rem;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    border: 0.09rem solid rgba(255, 255, 255, 0.9);
    border-radius: 0.44rem;
    margin: 0 0.4rem 0.6rem 0.4rem;
    padding: 0 1rem 0 1rem;
    box-shadow: 0rem 0rem 0.49rem rgb(200, 0, 255);
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .innerbox:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 0.49rem rgb(0, 255, 213);
}

.container .informationContainer .boxContainer .innerbox .pic {
    text-align: center;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    margin: 0.4rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.09rem solid rgb(255, 0, 140);
    box-shadow: 0rem 0rem 0.49rem rgb(93, 0, 255);
    display: flex;
    align-items: center;
    color: #ffffff;
    transition: all 0.5s ease;
    cursor: pointer;
}

.container .informationContainer .boxContainer .innerbox .pic:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 0.49rem rgb(0, 255, 213);
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: #d400ff;
}

.container .informationContainer .boxContainer .innerbox .pic i {
    margin: 0 auto;
}

.container .informationContainer .boxContainer .innerbox .contactbox {
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    border-radius: 0.44rem;
    margin: 0 0.4rem 1.4rem 0.4rem;
    padding: 0 1rem 0 1rem;
}

.container .informationContainer .boxContainer .innerbox .contactbox .practicespan {
    font-size: 1.2rem;
    font-family: "Consolas";
    color: #000000;
    font-style: italic;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .innerbox .contactbox .practicespan:hover {
    color: #ffffff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .innerbox .contactbox .infop {
    font-family: "幼圆";
    color: #6e6e6e;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.container .informationContainer .boxContainer .innerbox .contactbox .infop:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .box {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    border: 0.09rem solid rgba(255, 255, 255, 0.9);
    border-radius: 0.44rem;
    margin: 0 0.4rem 1.4rem 0.4rem;
    padding: 0 1rem 0 1rem;
    box-shadow: 0rem 0rem 0.49rem rgb(200, 0, 255);
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 0.49rem rgb(0, 255, 213);
}

.container .informationContainer .boxContainer .box h3 {
    font-size: 1.2rem;
    font-family: "幼圆";
    color: #d400ff;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box h3:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .box .enh3 {
    font-size: 1.2rem;
    font-family: "Consolas";
    color: #d400ff;
}

.container .informationContainer .boxContainer .box .enh3:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .box .statusbox {
    border: 0.09rem solid rgba(238, 0, 255, 0.9);
    border-radius: 0.44rem;
    box-shadow: 0rem 0rem 0.49rem rgb(51, 0, 255);
    height: 0.6rem;
    margin-top: -0.137rem;
    margin-bottom: 1.44rem;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .statusbox:hover {
    border: 0.09rem solid rgba(0, 85, 255, 0.9);
    box-shadow: 0rem 0rem 0.49rem rgb(0, 255, 238);
}

.container .informationContainer .boxContainer .box .htmlstatusbox {
    border-radius: 0.44rem;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    width: 95%;
    height: 100%;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .htmlstatusbox:hover {
    background: linear-gradient(to right, #ff0040, #0051ff);
}

.container .informationContainer .boxContainer .box .cssstatusbox {
    border-radius: 0.44rem;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    width: 90%;
    height: 100%;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .cssstatusbox:hover {
    background: linear-gradient(to right, #ff0040, #0051ff);
}

.container .informationContainer .boxContainer .box .jsstatusbox {
    border-radius: 0.44rem;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    width: 80%;
    height: 100%;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .jsstatusbox:hover {
    background: linear-gradient(to right, #ff0040, #0051ff);
}

.container .informationContainer .boxContainer .box .caddstatusbox {
    border-radius: 0.44rem;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    width: 65%;
    height: 100%;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .caddstatusbox:hover {
    background: linear-gradient(to right, #ff0040, #0051ff);
}

.container .informationContainer .boxContainer .box .csstatusbox {
    border-radius: 0.44rem;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    width: 95%;
    height: 100%;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .csstatusbox:hover {
    background: linear-gradient(to right, #ff0040, #0051ff);
}

.container .informationContainer .boxContainer .box .pystatusbox {
    border-radius: 0.44rem;
    background: linear-gradient(to right, #aa00ff, #ff72e5);
    width: 75%;
    height: 100%;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .pystatusbox:hover {
    background: linear-gradient(to right, #ff0040, #0051ff);
}

.container .informationContainer .boxContainer .box .infospan {
    font-size: 1.2rem;
    font-family: "Consolas";
    color: #6e6e6e;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.89rem;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .infospan:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .box .practicespan {
    font-size: 1.2rem;
    font-family: "Consolas";
    color: #000000;
    font-style: italic;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .practicespan:hover {
    color: #ffffff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .box .rightspan {
    font-size: 1.2rem;
    font-family: "Consolas";
    color: #6e6e6e;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.89rem;
    float: right;
    margin-top: -0.234rem;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .box .rightspan:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .iconbox {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    border: 0.09rem solid rgba(255, 255, 255, 0.9);
    border-radius: 0.44rem;
    margin: 0 0.4rem 1.4rem 0.4rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.49rem rgb(200, 0, 255);
    cursor: pointer;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .iconbox:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 0.49rem rgb(0, 255, 213);
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .boxContainer .iconbox .iconspan {
    font-size: 1.2rem;
    font-family: "Consolas";
    color: #6e6e6e;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.89rem;
    transition: all 0.5s ease;
}

.container .informationContainer .boxContainer .iconbox .iconspan:hover {
    color: #5900ff;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
}

.container .informationContainer .rightbox {
    flex: 1;
    font-family: "Consolas";
    font-style: italic;
    font-size: 1.14rem;
    color: #ff00c8;
    text-shadow: 0rem 0rem 0.49rem rgb(195, 0, 255);
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    border: 0.09rem solid rgba(255, 255, 255, 0.9);
    border-radius: 0.44rem;
    margin: 0.66rem 0.4rem 0.44rem 0.4rem;
    padding: 0.66rem;
    text-align: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.49rem rgb(200, 0, 255);
    cursor: pointer;
    transition: all 0.5s ease;
}

.container .informationContainer .rightbox:hover {
    border: 0.09rem solid rgb(0, 81, 255);
    box-shadow: 0rem 0rem 0.49rem rgb(0, 255, 213);
    color: #ffffff;
    text-shadow: 0rem 0rem 0.49rem rgb(255, 0, 247);
}

@media (max-width:1200px) {

    .container {
        flex-flow: column;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .container .cardContainer {
        position: static;
        width: auto;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 0.66rem;
        margin-bottom: 0;
        left: 0.66rem;
        right: 0.66rem;
        flex: 1;
    }

    .container .informationContainer {
        padding: 1rem;
        margin: 0.66rem;
    }

    .container .cardContainer .myPicture {
        width: 7rem;
        height: 7rem;
    }

    .container .cardContainer .myPicture .hidden-text {
        font-size: 1.567rem;
    }

    .container .cardContainer .ico {
        width: 1.89rem;
        height: 1.89rem;
        font-size: 1.44rem;
        margin: 0.14rem;
    }

    .container .cardContainer h1 {
        font-size: 1.8rem;
    }

    .container .cardContainer h2 {
        font-size: 1.3rem;
    }

    .container .cardContainer .defineButton {
        font-size: 1.14rem;
        margin-top: 1.62rem;
    }
}

@media (max-width:520px) {

    .container {
        flex-flow: column;
        padding: 0;
        margin: 0;
        justify-content: center;
    }

    .container .cardContainer {
        position: static;
        width: auto;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 0.66rem;
        margin-bottom: 0;
        left: 0.66rem;
        right: 0.66rem;
        flex: 1;
    }

    .container .informationContainer {
        padding: 1rem;
        margin: 0.66rem;
    }

    .container .cardContainer .myPicture {
        width: 7rem;
        height: 7rem;
    }

    .container .cardContainer .myPicture .hidden-text {
        font-size: 1.567rem;
    }

    .container .cardContainer .ico {
        width: 1.89rem;
        height: 1.89rem;
        font-size: 1.44rem;
        margin: 0.14rem;
    }

    .container .cardContainer h1 {
        font-size: 1.8rem;
    }

    .container .cardContainer h2 {
        font-size: 1.3rem;
    }

    .container .cardContainer .defineButton {
        font-size: 1.14rem;
        margin-top: 1.62rem;
    }
}